<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      lang="en"
      metal:use-macro="context/main_template/macros/master"
      i18n_domain="{{ package_name }}">
  <body>
    <metal:content-core fill-slot="content-core">
{% if svelte_app_custom_element %}
      <{{ svelte_app_name }}></{{ svelte_app_name }}>
{% else %}
      <div id="{{ svelte_app_name }}"></div>
{% endif %}
    </metal:content-core>
  </body>
</html>
