{% if svelte_app_custom_element -%}
import "./App.svelte";
{% else -%}
import { mount } from "svelte";
import App from "./App.svelte";

const target = document.getElementById("{{ svelte_app_name }}");

if (target) {
  mount(App, { target });
}
{% endif -%}
