<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ svelte_app_name }}</title>
  </head>
  <body>
{% if svelte_app_custom_element %}
    <{{ svelte_app_name }}></{{ svelte_app_name }}>
{% else %}
    <div id="{{ svelte_app_name }}"></div>
{% endif %}
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
